# Movie Recommendation content Based System

In [2]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
credits= pd.read_csv('tmdb_5000_credits.csv')
movies= pd.read_csv('tmdb_5000_movies.csv')
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies.shape,credits.shape

((4803, 20), (4803, 4))

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
movie_df=movies.merge(credits,on='title')
movie_df.shape

(4809, 23)

In [7]:
movie_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [8]:
# only keeping selected columns
# movie_id,title,cast,overview,spoken_languages,'genres',keywords
old_df=movie_df
movie_df=movie_df[['movie_id','title','cast','crew','overview','spoken_languages','genres','keywords']]

In [9]:
movie_df.isnull().sum()

movie_id            0
title               0
cast                0
crew                0
overview            3
spoken_languages    0
genres              0
keywords            0
dtype: int64

In [10]:
movie_df.dropna(axis=0,inplace=True)

In [11]:
movie_df.drop_duplicates(inplace=True)

### feature engineering

genres

In [12]:
movie_df['genres'].values[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
# get genres name
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

string='[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
convert(string)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [14]:
movie_df['genres']=movie_df['genres'].apply(convert)
movie_df['genres'].values[:3]

array([list(['Action', 'Adventure', 'Fantasy', 'Science Fiction']),
       list(['Adventure', 'Fantasy', 'Action']),
       list(['Action', 'Adventure', 'Crime'])], dtype=object)

Keywords

In [15]:
movie_df['keywords'].values[:3]

array(['[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]',
       '[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading company"}, {"id": 2038, "name": "love of one\'s life"}, {"id": 2052, "name": "traitor"}, {"id": 2580, "name": "shipwreck"}, {"id": 2660, "name": "strong woman"}, {"id": 3799, "name": "ship"}, {"id": 5740, "name": "alliance"}, {"id": 5941, "name": "calypso"}, {"id": 6155, "name": "afterlife"}, {"id": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]',
       '[{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4289, "name": "secret agent"}, {"id": 9663, "name": "sequel"}, {"id": 14555, "name": "mi6"}, {"id": 156095, "name": "british secret service"}, {"id": 158431, "name": "united kingdom"}]'],
      dtype=object)

In [16]:
movie_df['keywords']=movie_df['keywords'].apply(convert)

In [17]:
movie_df['spoken_languages'].apply(convert).value_counts()

[English]                    3174
[English, Español]            127
[English, Français]           115
[]                             85
[Español, English]             54
                             ...
[English, 普通话, Pусский]         1
[Tiếng Việt, English]           1
[Latin, English]                1
[Latin, English, Español]       1
[Polski, English]               1
Name: spoken_languages, Length: 530, dtype: int64

In [18]:
# Drop spoken_languages
movie_df.drop(['spoken_languages'],axis=1,inplace=True)

In [19]:
movie_df.head(1)

,movie_id,title,cast,crew,overview,genres,keywords
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."

<b>Casts</b> : Extract Top 3 Charecter Actors and Actresses

In [20]:
movie_df['cast'][1]

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [21]:
import ast
def get_3_cast(obj):
    L=[]
    for i in ast.literal_eval(obj)[:3]:
        L.append(i['name'])
    return L
movie_df['cast'].apply(get_3_cast)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [22]:
movie_df['cast']=movie_df['cast'].apply(get_3_cast)

<b>Crew</b> : Extract Directer Name.

In [23]:
movie_df['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [24]:
def get_dir(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L
movie_df['crew'].apply(get_dir)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [25]:
movie_df['crew']=movie_df['crew'].apply(get_dir)

Overview

In [26]:
movie_df['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [27]:
movie_df['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [28]:
movie_df['overview']=movie_df['overview'].apply(lambda x:x.split())
movie_df.head()

,movie_id,title,cast,crew,overview,genres,keywords
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [30]:
# replacing the gap between words Science Fiction would became ScienceFiction
movie_df['genres'].apply(lambda x: [i.replace(' ','') for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [31]:
movie_df['genres']=movie_df['genres'].apply(lambda x: [i.replace(' ','') for i in x])
movie_df['crew']=movie_df['crew'].apply(lambda x: [i.replace(' ','') for i in x])
movie_df['cast']=movie_df['cast'].apply(lambda x: [i.replace(' ','') for i in x])

In [32]:
movie_df.head(3)

,movie_id,title,cast,crew,overview,genres,keywords
0,19995,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."

In [30]:
# movie_df['keywords']=movie_df['keywords'].apply(convert)

Create tags that can be used for comparing similarity between two movies

In [33]:
movie_df['tags']=movie_df['overview']+movie_df['genres']+movie_df['keywords']+movie_df['cast']+movie_df['crew']
movie_df.head(2)

,movie_id,title,cast,crew,overview,genres,keywords,tags
0,19995,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d..."

In [34]:
# new_df
new_df=movie_df[['movie_id','title','tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [35]:
new_df['tags']=new_df['tags'].apply(lambda x: ' '.join(x))

In [36]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [37]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

Use Lemmatization to reduce a word into its root_word

In [38]:
from nltk.stem.wordnet import WordNetLemmatizer

wl = WordNetLemmatizer()

In [41]:
wl.lemmatize('amazing',pos='v'),wl.lemmatize('fulfilling',pos='v')

('amaze', 'fulfil')

In [42]:
def lemmatize(text):
    y = []
    for i in text.split():
        y.append(wl.lemmatize(i,pos='v'))
    return ' '.join(y)
new_df['tags'].apply(lemmatize)

0       In the 22nd century, a paraplegic Marine be di...
1       Captain Barbossa, long believe to be dead, hav...
2       A cryptic message from Bond’s past send him on...
3       Following the death of District Attorney Harve...
4       John Carter be a war-weary, former military ca...
                              ...
4804    El Mariachi just want to play his guitar and c...
4805    A newlywed couple's honeymoon be upend by the ...
4806    "Signed, Sealed, Delivered" introduce a dedica...
4807    When ambitious New York attorney Sam be send t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [43]:
new_df['tags']=new_df['tags'].apply(lemmatize)

In [44]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine be di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believe to be dead, hav..."
2,206647,Spectre,A cryptic message from Bond’s past send him on...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter be a war-weary, former military ca..."

Use CountVectorizer to extract Top 6000 Words frequency wise and turn them into vectors.
<Br/>
So Final Array would be 4806 X 6000 size, 4806 are rows and 6000 are vectors of words

In [45]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=6000,stop_words='english')

In [46]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 6000)

In [47]:
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
len(cv.get_feature_names_out())

6000

In [49]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zookeeper'],
      dtype=object)

Use cosine similarity to get the similarity between two vectors

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
cosine_similarity(vectors).shape

(4806, 4806)

Our Matrix Represents similarity in the following way
```
[
    similarity_with_first_vector,similarity_with_second_vector,similarity_with_third_vector,
....,similarity_with_nth_vector
]
```

In [52]:
similarity=cosine_similarity(vectors)

In [53]:
similarity[0],similarity[0].shape

(array([1.        , 0.0727393 , 0.05157106, ..., 0.03333333, 0.01840525,
        0.        ]),
 (4806,))

In [54]:
new_df[new_df['title']=='Avatar']

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine be di...

In [55]:
list(enumerate(similarity[0]))

[(0, 1.0000000000000002),
 (1, 0.0727392967453308),
 (2, 0.051571062312939675),
 (3, 0.034179296351233165),
 (4, 0.31180478223116176),
 (5, 0.12274328238644315),
 (6, 0.024573659359149527),
 (7, 0.12487810821089254),
 (8, 0.03984095364447979),
 (9, 0.10832228060328025),
 (10, 0.1),
 (11, 0.06804138174397718),
 (12, 0.05735393346764045),
 (13, 0.026518576139191005),
 (14, 0.14569287935358965),
 (15, 0.05594542388644594),
 (16, 0.09622504486493764),
 (17, 0.11518245674418136),
 (18, 0.1301448015738384),
 (19, 0.06804138174397717),
 (20, 0.058925565098878974),
 (21, 0.07106690545187015),
 (22, 0.04233337566673017),
 (23, 0.05892556509887897),
 (24, 0.047673129462279626),
 (25, 0.055679425398421745),
 (26, 0.14852213144650117),
 (27, 0.18931004635463397),
 (28, 0.05634361698190111),
 (29, 0.041380294430118404),
 (30, 0.07671455149152696),
 (31, 0.14433756729740646),
 (32, 0.06759225880448438),
 (33, 0.06565321642986129),
 (34, 0.0),
 (35, 0.1336306209562122),
 (36, 0.14852213144650114),
 (37, 0.05391638660171921),
 (38, 0.06896715738353068),
 (39, 0.05050762722761054),
 (40, 0.035533452725935076),
 (41, 0.20473075621333142),
 (42, 0.0),
 (43, 0.07671455149152696),
 (44, 0.02188440547662043),
 (45, 0.07093804422989572),
 (46, 0.1650245904961124),
 (47, 0.3001225239993905),
 (48, 0.09284766908852593),
 (49, 0.03984095364447979),
 (50, 0.074535599249993),
 (51, 0.08794080883518106),
 (52, 0.2166666666666667),
 (53, 0.13155870289605442),
 (54, 0.022680460581325727),
 (55, 0.04737793696791344),
 (56, 0.249485066394583),
 (57, 0.07647191129018727),
 (58, 0.048564293117863214),
 (59, 0.04786387724118255),
 (60, 0.014506471329641488),
 (61, 0.22271770159368698),
 (62, 0.05716619504750295),
 (63, 0.08276058886023682),
 (64, 0.03513641844631533),
 (65, 0.044743737014268294),
 (66, 0.015748519708717802),
 (67, 0.19374606457303215),
 (68, 0.06666666666666668),
 (69, 0.044346007015849294),
 (70, 0.0898606443361987),
 (71, 0.09316949906249125),
 (72, 0.10206207261596577),
 (73, 0.020211302086361082),
 (74, 0.25043365167023557),
 (75, 0.0727392967453308),
 (76, 0.05330017908890261),
 (77, 0.020211302086361082),
 (78, 0.03237619541190881),
 (79, 0.04724555912615341),
 (80, 0.029988007195203358),
 (81, 0.07562376774775253),
 (82, 0.07188851546895896),
 (83, 0.23570226039551587),
 (84, 0.09401267913629438),
 (85, 0.0642824346533225),
 (86, 0.07647191129018727),
 (87, 0.16366341767699433),
 (88, 0.05050762722761054),
 (89, 0.048600986959983696),
 (90, 0.03874921291460643),
 (91, 0.21312067103033536),
 (92, 0.044901325506693734),
 (93, 0.046829290579084706),
 (94, 0.25),
 (95, 0.25943726083138546),
 (96, 0.056613851707229795),
 (97, 0.07671455149152696),
 (98, 0.05212860351426869),
 (99, 0.014967108502231244),
 (100, 0.07372097807744858),
 (101, 0.13333333333333336),
 (102, 0.10078464965115869),
 (103, 0.07423923386456233),
 (104, 0.05000000000000001),
 (105, 0.07548513560963972),
 (106, 0.027777777777777783),
 (107, 0.10886621079036346),
 (108, 0.16037507477489607),
 (109, 0.061545745489666376),
 (110, 0.12958026383720403),
 (111, 0.13382584475782772),
 (112, 0.09092412093166351),
 (113, 0.031219527052723135),
 (114, 0.02969569354582493),
 (115, 0.06666666666666668),
 (116, 0.035533452725935076),
 (117, 0.03237619541190881),
 (118, 0.010583343916682543),
 (119, 0.07106690545187015),
 (120, 0.0),
 (121, 0.05812381937190965),
 (122, 0.06454972243679027),
 (123, 0.08647908694379515),
 (124, 0.07737305757377161),
 (125, 0.06521864934374388),
 (126, 0.08018753738744804),
 (127, 0.14229426304616102),
 (128, 0.019920476822239894),
 (129, 0.08770580193070293),
 (130, 0.015342910298305394),
 (131, 0.07548513560963972),
 (132, 0.04029114820126902),
 (133, 0.05212860351426869),
 (134, 0.08333333333333333),
 (135, 0.0),
 (136, 0.015609763526361568),
 (137, 0.02345325149100973),
 (138, 0.12883678042065433),
 (139, 0.08208638021853407),
 (140, 0.030178582014172846),
 (141, 0.20515248496555458),
 (142, 0.05735393346764045),
 (143, 0.05675043538391658),
 (144, 0.0662964403479775),
 (145, 0.08600780775702335),
 (146, 0.054711013691551076),
 (147, 0.1166666666666667),
 (148, 0.041666666666666664),
 (149, 0.30323921743156135),
 (150, 0.2185964124462969),
 (151, 0.09687303228651607),
 (152, 0.056613851707229795),
 (153, 0.05675043538391658),
 (154, 0.04103049699311092),
 (155, 0.02686076546751268),
 (156, 0.16178755723235852),
 (157, 0.0668153104781061),
 (158, 0.2857738033247041),
 (159, 0.04103049699311092),
 (160, 0.08168300490163391),
 (161, 0.06454972243679027),
 (162, 0.06565321642986129),
 (163, 0.058470534620468625),
 (164, 0.055901699437494755),
 (165, 0.031497039417435604),
 (166, 0.09960238411119947),
 (167, 0.04376881095324086),
 (168, 0.17190354104313224),
 (169, 0.14744195615489716),
 (170, 0.08838834764831845),
 (171, 0.03874921291460643),
 (172, 0.12163340819996028),
 (173, 0.017010345435994296),
 (174, 0.1023234355858201),
 (175, 0.031497039417435604),
 (176, 0.014967108502231244),
 (177, 0.024573659359149527),
 (178, 0.017568209223157664),
 (179, 0.052704627669472995),
 (180, 0.013518451760896878),
 (181, 0.013608276348795433),
 (182, 0.0825122952480562),
 (183, 0.04969039949999533),
 (184, 0.30949223029508643),
 (185, 0.08784104611578832),
 (186, 0.04376881095324086),
 (187, 0.09435641951204965),
 (188, 0.04761904761904762),
 (189, 0.08111071056538127),
 (190, 0.0639137490706142),
 (191, 0.04526787302125927),
 (192, 0.08908708063747478),
 (193, 0.05986843400892498),
 (194, 0.015891043154093207),
 (195, 0.06063390625908324),
 (196, 0.07106690545187015),
 (197, 0.05892556509887897),
 (198, 0.03513641844631533),
 (199, 0.07905694150420949),
 (200, 0.13944333775567924),
 (201, 0.02151657414559676),
 (202, 0.020211302086361082),
 (203, 0.07548513560963972),
 (204, 0.028171808490950554),
 (205, 0.04233337566673017),
 (206, 0.09335200560186734),
 (207, 0.12950478164763524),
 (208, 0.158113883008419),
 (209, 0.03513641844631533),
 (210, 0.05802588531856595),
 (211, 0.046829290579084706),
 (212, 0.036084391824351615),
 (213, 0.06317483696490862),
 (214, 0.01650245904961124),
 (215, 0.11034745181364908),
 (216, 0.03774256780481986),
 (217, 0.08451542547285167),
 (218, 0.027036903521793755),
 (219, 0.04103049699311092),
 (220, 0.12436708454077278),
 (221, 0.03237619541190881),
 (222, 0.17407765595569785),
 (223, 0.15990053726670783),
 (224, 0.05802588531856595),
 (225, 0.03207501495497921),
 (226, 0.05812381937190965),
 (227, 0.052704627669472995),
 (228, 0.20292692584270036),
 (229, 0.11904761904761905),
 (230, 0.19062321291575587),
 (231, 0.0),
 (232, 0.1147078669352809),
 (233, 0.16178755723235855),
 (234, 0.05716619504750295),
 (235, 0.056613851707229795),
 (236, 0.22663336788336166),
 (237, 0.04233337566673017),
 (238, 0.07332355751067665),
 (239, 0.29574808742734293),
 (240, 0.031219527052723135),
 (241, 0.05391638660171921),
 (242, 0.05050762722761054),
 (243, 0.06429306248420497),
 (244, 0.05212860351426869),
 (245, 0.04454354031873739),
 (246, 0.10744306187005072),
 (247, 0.0),
 (248, 0.02797271194322297),
 (249, 0.13608276348795437),
 (250, 0.0),
 (251, 0.08111071056538127),
 (252, 0.015214515486254614),
 (253, 0.10411584125907071),
 (254, 0.05103103630798289),
 (255, 0.0),
 (256, 0.06063390625908324),
 (257, 0.047673129462279626),
 (258, 0.031219527052723135),
 (259, 0.040422604172722164),
 (260, 0.3030457633656632),
 (261, 0.043852900965351466),
 (262, 0.07737305757377161),
 (263, 0.05976143046671968),
 (264, 0.0),
 (265, 0.01840525434580776),
 (266, 0.06950480468569159),
 (267, 0.15061601901917732),
 (268, 0.030685820596610788),
 (269, 0.017568209223157664),
 (270, 0.20658356100321168),
 (271, 0.0898606443361987),
 (272, 0.019920476822239894),
 (273, 0.010540925533894598),
 (274, 0.05954913341754138),
 (275, 0.09820927516479827),
 (276, 0.03774256780481986),
 (277, 0.041959067914834454),
 (278, 0.3429971702850177),
 (279, 0.11023963796102461),
 (280, 0.0),
 (281, 0.026518576139191005),
 (282, 0.029462782549439483),
 (283, 0.0),
 (284, 0.013793431476706135),
 (285, 0.014187608845979145),
 (286, 0.039777864208786505),
 (287, 0.031782086308186415),
 (288, 0.0363696483726654),
 (289, 0.03300491809922248),
 (290, 0.0372677996249965),
 (291, 0.06475239082381762),
 (292, 0.0727392967453308),
 (293, 0.01840525434580776),
 (294, 0.10416666666666666),
 (295, 0.07362101738323104),
 (296, 0.03627381250550059),
 (297, 0.05939138709164986),
 (298, 0.0),
 (299, 0.03627381250550059),
 (300, 0.34655164004183603),
 (301, 0.14678414098799655),
 (302, 0.040422604172722164),
 (303, 0.016835875742536848),
 (304, 0.08291138969384851),
 (305, 0.34668762264076824),
 (306, 0.19050019050028577),
 (307, 0.08989331499509895),
 (308, 0.03681050869161552),
 (309, 0.04622501635210244),
 (310, 0.027116307227332024),
 (311, 0.1042572070285374),
 (312, 0.10314212462587935),
 (313, 0.0445435403187374),
 (314, 0.0),
 (315, 0.05976143046671968),
 (316, 0.02879561418604534),
 (317, 0.04811252243246882),
 (318, 0.0),
 (319, 0.050251890762960605),
 (320, 0.0920262717290388),
 (321, 0.0),
 (322, 0.2553769592276246),
 (323, 0.04536092116265145),
 (324, 0.017190354104313226),
 (325, 0.05521576303742328),
 (326, 0.03681050869161552),
 (327, 0.033671751485073696),
 (328, 0.0),
 (329, 0.0898606443361987),
 (330, 0.0920262717290388),
 (331, 0.058470534620468625),
 (332, 0.08595177052156613),
 (333, 0.08164965809277261),
 (334, 0.06804138174397718),
 (335, 0.03333333333333334),
 (336, 0.03333333333333334),
 (337, 0.08505172717997148),
 (338, 0.04536092116265145),
 (339, 0.05521576303742328),
 (340, 0.034752402342845795),
 (341, 0.09316949906249125),
 (342, 0.20664207128868398),
 (343, 0.012220592918446108),
 (344, 0.019374606457303215),
 (345, 0.016343011261515338),
 (346, 0.01797212886723974),
 (347, 0.0),
 (348, 0.04103049699311092),
 (349, 0.05330017908890261),
 (350, 0.03402069087198859),
 (351, 0.0),
 (352, 0.020211302086361082),
 (353, 0.053376051268362375),
 (354, 0.014085904245475277),
 (355, 0.035533452725935076),
 (356, 0.056613851707229795),
 (357, 0.0),
 (358, 0.040422604172722164),
 (359, 0.0222717701593687),
 (360, 0.07808688094430304),
 (361, 0.034752402342845795),
 (362, 0.11043152607484655),
 (363, 0.08638684255813601),
 (364, 0.015891043154093207),
 (365, 0.09790449180128039),
 (366, 0.034752402342845795),
 (367, 0.017568209223157664),
 (368, 0.08466675133346034),
 (369, 0.0736569563735987),
 (370, 0.07106690545187015),
 (371, 0.10206207261596578),
 (372, 0.07106690545187015),
 (373, 0.40147753427348315),
 (374, 0.026352313834736497),
 (375, 0.04351941398892446),
 (376, 0.03042903097250923),
 (377, 0.0),
 (378, 0.0),
 (379, 0.04600437062282362),
 (380, 0.03207501495497921),
 (381, 0.06537204504606135),
 (382, 0.0),
 (383, 0.029235267310234313),
 (384, 0.032686022523030676),
 (385, 0.03774256780481986),
 (386, 0.013793431476706135),
 (387, 0.014847846772912465),
 (388, 0.0),
 (389, 0.125),
 (390, 0.0181848241863327),
 (391, 0.06281486345370076),
 (392, 0.017766726362967538),
 (393, 0.016835875742536848),
 (394, 0.015609763526361568),
 (395, 0.03207501495497921),
 (396, 0.014187608845979145),
 (397, 0.03681050869161552),
 (398, 0.0),
 (399, 0.016188097705954405),
 (400, 0.07647191129018727),
 (401, 0.16366341767699433),
 (402, 0.030949223029508643),
 (403, 0.06672006408545297),
 (404, 0.11322770341445959),
 (405, 0.02837521769195829),
 (406, 0.01343038273375634),
 (407, 0.05634361698190111),
 (408, 0.020833333333333332),
 (409, 0.0),
 (410, 0.0551888482110435),
 (411, 0.05050762722761054),
 (412, 0.09534625892455924),
 (413, 0.10000000000000002),
 (414, 0.020211302086361082),
 (415, 0.05424537957534329),
 (416, 0.049507377148833714),
 (417, 0.02051524849655546),
 (418, 0.07537783614444091),
 (419, 0.10926834468453098),
 (420, 0.09722222222222224),
 (421, 0.0),
 (422, 0.09558988911273408),
 (423, 0.06666666666666668),
 (424, 0.026688025634181187),
 (425, 0.052057920629535355),
 (426, 0.049147318718299055),
 (427, 0.01863389981249825),
 (428, 0.04600437062282362),
 (429, 0.0),
 (430, 0.13470397652008118),
 (431, 0.015891043154093207),
 (432, 0.2466100126039053),
 (433, 0.020833333333333332),
 (434, 0.0),
 (435, 0.023570226039551587),
 (436, 0.0),
 (437, 0.01887128390240993),
 (438, 0.0372677996249965),
 (439, 0.05521576303742328),
 (440, 0.016835875742536848),
 (441, 0.019920476822239894),
 (442, 0.02686076546751268),
 (443, 0.061371641193221575),
 (444, 0.0),
 (445, 0.06537204504606135),
 (446, 0.048112522432468816),
 (447, 0.030685820596610788),
 (448, 0.09365858115816941),
 (449, 0.08084520834544433),
 (450, 0.03237619541190881),
 (451, 0.015342910298305394),
 (452, 0.012782749814122842),
 (453, 0.016343011261515338),
 (454, 0.19457241052900615),
 (455, 0.033671751485073696),
 (456, 0.15384991568772632),
 (457, 0.05812381937190965),
 (458, 0.032686022523030676),
 (459, 0.10583343916682542),
 (460, 0.051571062312939675),
 (461, 0.32936830977415466),
 (462, 0.10606601717798214),
 (463, 0.06350006350009525),
 (464, 0.0),
 (465, 0.0),
 (466, 0.2165063509461097),
 (467, 0.07804881763180783),
 (468, 0.01797212886723974),
 (469, 0.08512565307587487),
 (470, 0.05212860351426869),
 (471, 0.05103103630798289),
 (472, 0.09092412093166351),
 (473, 0.10206207261596577),
 (474, 0.0),
 (475, 0.0736569563735987),
 (476, 0.09428090415820635),
 (477, 0.0),
 (478, 0.058345003501167086),
 (479, 0.06429306248420497),
 (480, 0.1650245904961124),
 (481, 0.015891043154093207),
 (482, 0.017568209223157664),
 (483, 0.14147911460452758),
 (484, 0.04536092116265145),
 (485, 0.03207501495497921),
 (486, 0.04737793696791344),
 (487, 0.09829463743659811),
 (488, 0.05952380952380953),
 (489, 0.0),
 (490, 0.12028130608117206),
 (491, 0.09166199015381173),
 (492, 0.0907218423253029),
 (493, 0.025269934785963448),
 (494, 0.0),
 (495, 0.13130643285972257),
 (496, 0.0),
 (497, 0.0),
 (498, 0.06350006350009525),
 (499, 0.0),
 (500, 0.01650245904961124),
 (501, 0.04969039949999533),
 (502, 0.24476272058138537),
 (503, 0.05000000000000001),
 (504, 0.0),
 (505, 0.1336306209562122),
 (506, 0.06804138174397718),
 (507, 0.31687511114881484),
 (508, 0.06415002990995843),
 (509, 0.017010345435994296),
 (510, 0.07106690545187015),
 (511, 0.06063390625908324),
 (512, 0.07106690545187015),
 (513, 0.06415002990995843),
 (514, 0.02797271194322297),
 (515, 0.03402069087198859),
 (516, 0.015609763526361568),
 (517, 0.04166666666666667),
 (518, 0.055901699437494755),
 (519, 0.0),
 (520, 0.0),
 (521, 0.014506471329641488),
 (522, 0.0),
 (523, 0.03438070820862645),
 (524, 0.10660035817780524),
 (525, 0.048564293117863214),
 (526, 0.031219527052723135),
 (527, 0.01840525434580776),
 (528, 0.014617633655117156),
 (529, 0.15471318693881905),
 (530, 0.06933752452815366),
 (531, 0.10004084133313015),
 (532, 0.07562376774775252),
 (533, 0.04536092116265145),
 (534, 0.08838834764831845),
 (535, 0.09712858623572643),
 (536, 0.10832228060328025),
 (537, 0.04811252243246882),
 (538, 0.0),
 (539, 0.2829582292090551),
 (540, 0.05330017908890261),
 (541, 0.26956456807360374),
 (542, 0.025416428388767447),
 (543, 0.05103103630798289),
 (544, 0.034752402342845795),
 (545, 0.03333333333333334),
 (546, 0.0445435403187374),
 (547, 0.05812381937190965),
 (548, 0.015609763526361568),
 (549, 0.2301436544745809),
 (550, 0.01666666666666667),
 (551, 0.02686076546751268),
 (552, 0.0),
 (553, 0.019641855032959656),
 (554, 0.0),
 (555, 0.032969023669789356),
 (556, 0.0898606443361987),
 (557, 0.21886638465297903),
 (558, 0.03823595564509363),
 (559, 0.04376881095324086),
 (560, 0.023338001400466834),
 (561, 0.041666666666666664),
 (562, 0.019920476822239894),
 (563, 0.017010345435994296),
 (564, 0.16331864497962195),
 (565, 0.02837521769195829),
 (566, 0.013259288069595502),
 (567, 0.01840525434580776),
 (568, 0.1203324787301926),
 (569, 0.048112522432468816),
 (570, 0.04536092116265145),
 (571, 0.11180339887498951),
 (572, 0.05517372590682454),
 (573, 0.01293584209510555),
 (574, 0.015089291007086423),
 (575, 0.034752402342845795),
 (576, 0.052704627669472995),
 (577, 0.2294157338705618),
 (578, 0.031782086308186415),
 (579, 0.18519463316790533),
 (580, 0.014731391274719742),
 (581, 0.2461829819586655),
 (582, 0.28203803740888317),
 (583, 0.04454354031873739),
 (584, 0.029462782549439483),
 (585, 0.09805806756909204),
 (586, 0.10540925533894599),
 (587, 0.11973686801784997),
 (588, 0.01887128390240993),
 (589, 0.14085904245475278),
 (590, 0.02151657414559676),
 (591, 0.07671455149152696),
 (592, 0.1216660658480719),
 (593, 0.03042903097250923),
 (594, 0.030949223029508643),
 (595, 0.20473075621333142),
 (596, 0.06085806194501846),
 (597, 0.031497039417435604),
 (598, 0.050251890762960605),
 (599, 0.1296407447104329),
 (600, 0.05000000000000001),
 (601, 0.036084391824351615),
 (602, 0.061371641193221575),
 (603, 0.0363696483726654),
 (604, 0.04303314829119352),
 (605, 0.01797212886723974),
 (606, 0.02431083191631576),
 (607, 0.06944444444444445),
 (608, 0.0),
 (609, 0.014085904245475277),
 (610, 0.07955572841757301),
 (611, 0.04602873089491618),
 (612, 0.06243905410544627),
 (613, 0.02188440547662043),
 (614, 0.032686022523030676),
 (615, 0.031219527052723135),
 (616, 0.020833333333333332),
 (617, 0.1555576010338433),
 (618, 0.08276058886023682),
 (619, 0.0),
 (620, 0.0),
 (621, 0.05330017908890261),
 (622, 0.014291548761875737),
 (623, 0.015609763526361568),
 (624, 0.12309149097933275),
 (625, 0.05212860351426869),
 (626, 0.18519463316790533),
 (627, 0.0898606443361987),
 (628, 0.15075567228888184),
 (629, 0.02993421700446249),
 (630, 0.033671751485073696),
 (631, 0.02380952380952381),
 (632, 0.09092412093166351),
 (633, 0.1074430618700507),
 (634, 0.05212860351426869),
 (635, 0.10004084133313015),
 (636, 0.01650245904961124),
 (637, 0.051571062312939675),
 (638, 0.04376881095324086),
 (639, 0.0),
 (640, 0.049507377148833714),
 (641, 0.0),
 (642, 0.15609763526361567),
 (643, 0.20412414523193154),
 (644, 0.035533452725935076),
 (645, 0.02837521769195829),
 (646, 0.051571062312939675),
 (647, 0.05759122837209068),
 (648, 0.017766726362967538),
 (649, 0.0),
 (650, 0.03237619541190881),
 (651, 0.0),
 (652, 0.012708214194383723),
 (653, 0.08206099398622184),
 (654, 0.060777079790789404),
 (655, 0.049507377148833714),
 (656, 0.016343011261515338),
 (657, 0.03434014098717226),
 (658, 0.02879561418604534),
 (659, 0.015214515486254614),
 (660, 0.11340230290662863),
 (661, 0.2837521769195829),
 (662, 0.0),
 (663, 0.0),
 (664, 0.04303314829119352),
 (665, 0.046423834544262965),
 (666, 0.10660035817780522),
 (667, 0.0),
 (668, 0.06350006350009525),
 (669, 0.022680460581325727),
 (670, 0.06274558051381587),
 (671, 0.04724555912615341),
 (672, 0.03513641844631533),
 (673, 0.013518451760896878),
 (674, 0.06734350297014739),
 (675, 0.025416428388767447),
 (676, 0.015089291007086423),
 (677, 0.08512565307587487),
 (678, 0.04376881095324086),
 (679, 0.0),
 (680, 0.17323371679589583),
 (681, 0.03874921291460643),
 (682, 0.014967108502231244),
 (683, 0.03237619541190881),
 (684, 0.04103049699311092),
 (685, 0.020833333333333332),
 (686, 0.020211302086361082),
 (687, 0.11180339887498951),
 (688, 0.044901325506693734),
 (689, 0.0),
 (690, 0.025717224993681988),
 (691, 0.06600983619844496),
 (692, 0.2524133951395119),
 (693, 0.0),
 (694, 0.026028960314767677),
 (695, 0.034752402342845795),
 (696, 0.013699915608779777),
 (697, 0.0),
 (698, 0.015609763526361568),
 (699, 0.0),
 (700, 0.016835875742536848),
 (701, 0.0625),
 (702, 0.012708214194383723),
 (703, 0.013259288069595502),
 (704, 0.10101525445522108),
 (705, 0.015474611514754322),
 (706, 0.017010345435994296),
 (707, 0.0),
 (708, 0.017376201171422898),
 (709, 0.029012942659282975),
 (710, 0.05634361698190111),
 (711, 0.03928371006591931),
 (712, 0.0),
 (713, 0.043852900965351466),
 (714, 0.0),
 (715, 0.07071067811865477),
 (716, 0.02151657414559676),
 (717, 0.0),
 (718, 0.027036903521793755),
 (719, 0.0),
 (720, 0.016835875742536848),
 (721, 0.020211302086361082),
 (722, 0.0),
 (723, 0.017190354104313226),
 (724, 0.03333333333333334),
 (725, 0.0),
 (726, 0.0),
 (727, 0.036084391824351615),

Sort the similarity array to get top 6 similiar Movie indexs

In [56]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[:6]

[(0, 1.0000000000000002),
 (2409, 0.44876373392787533),
 (4336, 0.43058755641446156),
 (373, 0.40147753427348315),
 (838, 0.3969283100678678),
 (1537, 0.3931785497463925)]

Created a Recommend function that will recommend movie based on Movie title

In [57]:
def recommend(movie,new_df):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movies_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        # print(new_df.iloc[i[0]].movie_id,)
        print(new_df.iloc[i[0]].title)
recommend('Avatar',new_df)

Aliens
Silent Running
Mission to Mars
Alien³
Moonraker

In [58]:
recommend('Superman',new_df)

Superman II
Superman Returns
Man of Steel
Superman III
Superman IV: The Quest for Peace

In [59]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine be di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believe to be dead, hav..."
2,206647,Spectre,A cryptic message from Bond’s past send him on...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter be a war-weary, former military ca..."

Saving Our New df for Later

In [60]:
import pickle
pickle.dump(new_df,open('movies.pkl','wb'))

In [61]:
new_df.to_excel('movies.xlsx',index=False)

Save the Similarity array for Later use to calculater similarity.

In [62]:
pickle.dump(similarity,open('similarity.pkl','wb'))